<!-- <form>
  <div>
    <label>First Name</label>
    <input >
    <label>First Name</label>
    <input >
    <label>First Name</label>
    <input >
  </div>
</form> -->



<ng-container  *ngFor="let item of assessment1Array.controls; let i=index;">
  <form [formGroup]="item">
    <label>First Name</label>
    <input [formControl]="item?.get('firstName')" >
    <p style="color: brown;" *ngIf="item.get('firstName')?.errors?.required">
      Firstname is required
    </p>
    <label>Last Name</label>
    <input [formControl]="item?.get('lastName')">
    <p style="color: brown;" *ngIf="item.get('firstName')?.errors?.required">
      Lastname is required
    </p>
    <label>Email</label>
    <input [formControl]="item?.get('email')">
    <p style="color: brown;" *ngIf="item.get('firstName')?.errors?.required">
      Email is required
    </p>
    <label (click)="onRemoveData(i)">Close</label>
  </form>
</ng-container>
<button [disabled]="(!assessment1Array.valid) " (click)="onAddData()"> Add More</button>

<button (click)="onSaveData()"> Save</button>
